
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                    <img src="http://assets1.dxc.technology/newsroom/images/dxc_logo_hz_wht_rgb_300.png" style="float: left;" height="50px" width="250px" >
            </div>
            <ul class="nav navbar-nav navbar-firstnav" >
                    <li><a routerLink="/dashboard">Dashboard</a></li>
                    <li><a routerLink="/tftracker">TF Tracker</a></li>
                    <li><a routerLink="/tfheatmap">TF Heat Map</a></li>
                    <li><a routerLink="/checklist">Checklist</a></li>
                    </ul>
            </div>
        </nav>


<span style="border:1px solid white;height:1000px;width:17px"></span>
<div class="container" style="position: absolute;left: 80px;">
   

<router-outlet></router-outlet>
</div>