.button{
    background-color: white;
    border-color: white;
    border: none;
    outline:none;
}
.myTable{
    background-color: red;
}

.my-center-text {
    text-align: center;
    width: 100%;
    display: inline-block;
}

