<h2>TF Due on {{todayDate|date:'fullDate'}}</h2>

<p-dataTable [value]="items" [rows]="1" [tableStyle]="{'table-layout':'auto','text-align':'center'}" [globalFilter]="gb" [paginator]="true" emptyMessage="No TF deliverables Today!" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <p-column field="QCID" header="QC ID">
        <ng-template let-row="rowData" pTemplate type="body">
            <div class="my-center-text">
              <a style="color: #337ab7 ;" [routerLink]="['/details']" [queryParams]="{qcid: row.QCID}">{{row.QCID}}</a>
            </div>
    </ng-template>
    </p-column>
  <p-column  field="Title" [style]="{'word-wrap':'break-word'}" header="Title"></p-column>
  <p-column  field="CSID" header="CS ID"></p-column>
  <p-column  field="TFNo" header="TF No."></p-column>
  <p-column  field="TFOnBuild" header="Build Version"></p-column>
  <p-column  field="DeliveryDate" header="Delivery Date"></p-column>
  <ng-template pTemplate="paginatorLeft">
  </ng-template>
  <ng-template pTemplate="paginatorRight">
  </ng-template>
</p-dataTable>